/* Visitor Visibility Control Frontend Styles */

/* Hide pages that couldn't be filtered out by other methods */
.vvc-hidden-page {
    display: none !important;
}

/* Hide menu items for hidden pages */
li.vvc-hidden-page,
.menu-item.vvc-hidden-page {
    display: none !important;
}

/* Restrict lock icon size for restricted content */
.vvc-restricted-icon img {
    display: inline;
    border: none;
    box-shadow: none;
    height: 1em;
    width: 1em;
    margin: 0 0.07em;
    vertical-align: -0.1em;
    background: none;
    padding: 0;
}

/* Style for emoji lock icon */
.vvc-restricted-icon {
    display: inline;
    font-size: 1em;
    height: 1em;
    width: 1em;
    margin: 0 0.07em;
    vertical-align: -0.1em;
}
